h1 {
    margin: 0;
}

h2 {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "nav"
        "search"
        "main"
        "footer";
}

@media (min-width: 576px) {
    .grid-container {
        grid-template-areas:
            "nav nav nav"
            "search main main"
            "search main main"
            "footer footer footer";
        grid-template-columns: 1fr 2fr 3fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-areas:
            "nav search search"
            "nav main main"
            "nav main main"
            "footer main main";
    }
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    color: black;
    padding: 1em;
}

@media (min-width: 992px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.nav-tittle {
    display: flex;
}

.search {
    color: black;
}

.search-box {
    grid-area: search;
    background-color: black;
    text-align: center;
    padding: 2em 4em;
}

.search-button {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: white;
}

main {
    grid-area: main;
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

@media (min-width: 576px) {
    .gallery-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.card-box {
    background-color: black;
    text-align: center;
    padding: 1em;
    margin: 0.1em 0.1em 2em 0.1em;
}

.card-box button {
    background-color: whitesmoke;
    color: black;
    border: none;
}

.gallery-button {
    display: flex;
    border: solid black 1px;
}

.gallery-button p {
    padding: 1em;
    margin-bottom: 0px;
    border-right: solid 1px black;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
    text-align: center;
}
